.data-loading {
  font-family: "Consolas", monospace;
}

.tick {
  color: #dedede;
}

.yogurtItem {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.yogurtName {
  color: #280042;
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.gridlines {
  /*stroke-opacity: 0.2;*/
  stroke: #dedede;
  stroke-width: 1px;
  transform: translate(-8, 0);
}

.axisLabels {
  font-family: "Consolas", monospace;
  color: #3d3d3d;
  /*left: 1rem;*/
  /*text-align: left;*/
  /*width: 48px;*/
  text-anchor: start; /* this aligns text to the left! https://developer.mozilla.org/en-US/docs/Web/SVG/Reference/Attribute/text-anchor */
}

.yogurtLabel {
  color: #f9f9f9;
  font-family: "Consolas", monospace;
  font-size: 0.75rem;
}

.link {
  fill: none;
  stroke: #cc0000;
  stroke-width: 1px;
}